p{
    color: rgb(228, 15, 15);
    border: 2px solid green;
}

.batch2{
    font-size: 60px;
    border: 2px solid blue;
}

#idselector{
background-color: aqua;
border: 3px solid black;

}

*{
    font-style: italic;
    border: 5px solid yellow;
}