/* css selectors
elements selectors - h1,h2,p,div are called elements selectors */

/* class selectors */
.unique-style{
    background-color: rgb(248, 116, 8);
    color: white;
}

.box-look{
    background-color: blanchedalmond;
}
div{
    background-color: yellow;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

p{
    font-size: 20px;
}

/* id selectors */

#krishna{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#sri{
    font-style: italic;
}

/* universal selectors */

*{
    text-align: center
}